<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>后台信息管理系统</title>

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />


    <link th:href="@{/css/style.css}" rel="stylesheet" />

    <!-- summernote style -->
    <link th:href="@{/css/plugins/summernote/summernote.css}" rel="stylesheet" />
    <link th:href="@{/css/plugins/summernote/summernote-bs3.css}" rel="stylesheet" />

</head>

<body>

<div id="wrapper">
    <nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
    <div id="page-wrapper" class="gray-bg">
        <div class="border-bottom" th:include="header :: headerTop"></div>
        <div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
            <div class="col-lg-10">
                <h2>菜品管理</h2>
                <ol class="breadcrumb">
                    <li>
                        <a href="#">首页</a>
                    </li>
                    <li>
                        <a>菜品管理</a>
                    </li>
                    <li>
                        <a>菜品管理</a>
                    </li>
                    <li class="active">
                        <strong>菜品新增或修改</strong>
                    </li>
                    
                </ol>
            </div>
            <div class="col-lg-2">
            </div>
        </div>
        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h5>新增或修改菜品</h5>
                            <div class="ibox-tools">
                                <a class="collapse-link">
                                    <i class="fa fa-chevron-up"></i>
                                </a>
                            </div>
                        </div>
                        <div class="ibox-content">
                            <form id="formTag" th:action="@{/itemEdit}" method="POST" class="form-horizontal" enctype="multipart/form-data" th:object="${item}">

                                <div class="form-group"><label class="col-sm-2 control-label">菜品id：</label>
                                    <div class="col-sm-10">
                                        <input readonly="readonly" type="text" class="form-control" th:field="*{id}"/>
                                    </div>
                                </div>
                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">菜品名称：</label>
                                    <div class="col-sm-10">
                                        <input  type="text" class="form-control" th:field="*{itemname} " required=""/>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">分类：</label>
                                    <div class="col-sm-10">
                                        <select name="type" id="type"  th:field="*{type}" class="form-control" >
                                            <option value="0">--请选择菜品分类--</option>
                                            <option th:each="ic : ${itemTypeList}" th:value="${ic?.toString()}" th:text="${ic?.toString()}" th:selected="${item?.type==ic?.toString()}">分类</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div id="imageCell" class="form-group"><label class="col-sm-2 control-label">图片：</label>
                                    <div class="col-sm-5">
                                        <input id="imgPath" readonly="readonly" type="text" class="form-control" th:field="*{picturepath}" required=""/>
                                    </div>
                                    <div class="col-sm-4">
                                        <script>
                                            function getFile(){
                                                $("#uploadFile").click();
                                            }
                                        </script>
                                        <input type="file" accept="image/*" name="uploader-input"
                                               class="uploader-file" id="uploadFile" style="display:none">
                                        <button class="btn btn-primary" onmousedown="getFile()">上传图片</button>
                                    </div>
                                    <div class="col-sm-offset-3">
                                        <img id="imgDisplay" th:src="@{'/'+${item.picturepath}}" width="35%" />
                                    </div>
                                </div>

                                <!--div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">卖点：</label>
                                    <div class="col-sm-10">
                                        <textarea id="sellPoint" name="sellPoint" class="form-control" rows="2" th:text="${item.sellPoint}"></textarea>
                                    </div>
                                </div-->

                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">价格：</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" th:field="*{price}" required=""/>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>

                                <div class="form-group"><label class="col-sm-2 control-label">库存：</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" th:field="*{number}" required=""/>
                                    </div>
                                </div>

                                <div class="hr-line-dashed"></div>
                                <div class="form-group">
                                    <div class="col-sm-4 col-sm-offset-2">
                                        <button id="submitButton" type="submit" class="btn btn-primary">&nbsp;&nbsp;&nbsp;&nbsp;提&nbsp;&nbsp;&nbsp;&nbsp;交&nbsp;&nbsp;&nbsp;&nbsp;</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="footer" th:include="footer :: copyright"></div>
    </div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<!-- SUMMERNOTE -->
<script th:src="@{/js/plugins/summernote/summernote.min.js}"></script>


<script th:inline="javascript">
    document.getElementById('uploadFile').addEventListener('change', function (event) {
        var $file = event.currentTarget;
        var file = $file.files[0];
        var formData = new FormData();
        formData.append("file", file);
        $.ajax({
            url: 'upload',
            type: 'POST',
            dataType: 'json',
            data: formData,
            contentType: false,
            processData: false,
            success: function (data) {
                alert("成功上传"+file.name);
                $('#imgPath').attr("value","upload/"+file.name);

                $('#imgDisplay').attr("src","upload/"+file.name);
            },
            error: function (response) {
                console.log(response);
                alert(response);
            }
        })

    });
</script>

</body>

</html>
