
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>用户信息修改</title>
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
	<link href="css/userstyle.css" rel="stylesheet" type="text/css" media="all" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
	<!--link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'-->
	<script src="js/jquery.min.js"></script>
	<!--link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" /-->
	<script src="js/simpleCart.min.js"> </script>
</head>
<body>
<!-- header -->
<div class="head-top">

</div>
<div class="header">

	<div class="container">
		<div class="logo">
			<a href="index"><img src="img/HaiyunCafe.png" class="img-responsive" alt=""></a>
		</div>
		<div class="header-left">
			<div class="head-nav">
				<span class="menu"> </span>
				<ul>
					<li><a href="index">主页</a></li>
					<li><a href="logout">登出</a></li>
					<li class="active"><a href="profileEdit">修改个人信息</a></li>
					<div class="clearfix"> </div>
				</ul>
				<!-- script-for-nav -->
				<script>
					$( "span.menu" ).click(function() {
						$( ".head-nav ul" ).slideToggle(300, function() {
							// Animation complete.
						});
					});
				</script>
				<!-- script-for-nav -->
			</div>
			<div class="header-right1" >
				<div class="cart box_1" action="index">
					<a href="checkout">
						<h3> <span type = "text" th:text="${totalPrice}">  </span> (<span type = "text" th:text="${num}">  </span> items)<img src="img/bag.png" alt=""></h3>
					</a>
					<p><a href="#" class="simpleCart_empty" th:onclick="'javascript:emptyCart();'">清空购物车</a></p>
					<div class="clearfix"> </div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<div class="clearfix"> </div>
	</div>
</div>
<!-- header -->
<!-- contact -->
	<div class="contact">
	 <div class="container">
		  <div class="contact-head">
			 <h3>个人信息修改</h3>
		  </div>
		  <div class="contact-grid">
			 <form th:action="@{/profileEdit}" method="POST" th:object="${user}">
				 <input type="hidden" th:field="*{id}"/>
				 <input style="color: black" readonly="readonly" type="text" placeholder="用户名" th:field="*{username}" required/>
				 <input style="color: black" type="text" placeholder="密码" th:field="*{password}" required/>
				 <input style="color: black" type="text" placeholder="电话号码" th:field="*{phone}" required pattern="1[3|5|7|8|][0-9]{9}" oninput="setCustomValidity('');" oninvalid="setCustomValidity('请输入正确的11位手机号');"/>
				 <input style="color: black" type="text" placeholder="邮箱" th:field="*{email}" required pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$" oninput="setCustomValidity('');" oninvalid="setCustomValidity('请输入正确的电子邮箱地址');"/>
				 <textarea style="color: black" placeholder="地址" th:field="*{address}" required></textarea>
				 <input type="submit" value="提交"/>
			 </form>
		  </div>
<!--		  <div class="contact-details">-->
<!--			  <div class="col-md-6 contact-map">-->
<!--				 <h4>FIND US HERE</h4>-->
<!--				 <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d803187.8113675824!2d-120.11910914056458!3d38.15292455846902!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fb9fe5f285e3d%3A0x8b5109a227086f55!2sCalifornia%2C+USA!5e0!3m2!1sen!2sin!4v1423829283333" frameborder="0" style="border:0"></iframe>-->
<!--			  </div>-->
<!--			  <div class="col-md-6 company_address">		 -->
<!--					<h4>ADDRESS</h4>-->
<!--					<p>500 Lorem Ipsum Dolor Sit,</p>-->
<!--					<p>22-56-2-9 Sit Amet, Lorem,</p>-->
<!--					<p>USA</p>-->
<!--					<p>Phone:(00) 222 666 444</p>-->
<!--					<p>Fax: (000) 000 00 00 0</p>-->
<!--					<p>Email: <a href="mailto:info@example.com">info@mycompany.com</a></p>-->
<!--					<p>Follow on: <a href="#">Facebook</a>, <a href="#">Twitter</a></p>-->
<!--			 </div>-->
<!--			  <div class="clearfix"></div>-->
<!--	     </div>		 -->
	 </div>
</div>

<!-- footer-->
<div class="footer">
	<div class="container">
		<div class="footer-left">
			<p>Haiyun Cafe © 2020</p>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
<!-- footer-->
</body>
</html>