
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>HaiYun cafe</title>
<link href="css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="css/userstyle.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Spicemystery Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'-->
<script src="js/jquery.min.js"></script>
<!--link rel="stylesheet" href="css/flexslider.css" type="text/css" media="screen" /-->
<script src="js/simpleCart.min.js"> </script>		
</head>
<body>
<!-- header -->
<div class="head-top">
			
		</div>
	<div class="header">
		
		<div class="container">
			<div class="logo">
				<a href="index"><img src="img/HaiyunCafe.png" class="img-responsive" alt=""></a>
			</div>
			<div class="header-left">
				<div class="head-nav">
					<span class="menu"> </span>
						<ul>
							<li class="active"><a href="index">主页</a></li>
							<li><a href="/logout">登出</a></li>
							<li><a href="/userProfileEdit">修改个人信息</a></li>
								<div class="clearfix"> </div>		
						</ul>
								<!-- script-for-nav -->
							<script>
								$( "span.menu" ).click(function() {
								  $( ".head-nav ul" ).slideToggle(300, function() {
									// Animation complete.
								  });
								});
							</script>
						<!-- script-for-nav --> 
					</div>
					<div class="header-right1" >
						<div class="cart box_1" action="index">
							<a href="checkout">
								<h3> <span type = "text" th:text="${totalPrice}">  </span> (<span type = "text" th:text="${num}">  </span> items)<img src="img/bag.png" alt=""></h3>
							</a>	
							<p><a href="#" class="simpleCart_empty" th:onclick="'javascript:emptyCart();'">清空购物车</a></p>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div class="clearfix"> </div>
				</div>
					<div class="clearfix"> </div>
			</div>
	</div>
<!-- header -->
<!-- banner -->
	<div class="banner">
		<div class="container">
		<div class="b_room">
				<div class="booking_room"><br />
					<div class="reservation">
						<div class="book-top">
							<div class="b-search">
								<div class="boo-lef">
								<i class="sear"></i>
								<p>搜索</p>
								</div>
							</div>
							<div class="pick">
								<div class="boo-lef">
								<i class="sele"></i>
								<p>挑选</p>
								</div>
							</div>
							<div class="delv">
								<div class="boo-lef">
								<i class="ca-r"></i>
								<br>
								<a id = "checkoutlink" href = "http://localhost:8888/checkout">购物车</a>
								</div>
							</div>
							<div class="clearfix"> </div>
						</div>
						<ul>
							<li class="span1_of_1">
								 <!----------start section_room----------->
								 <form>
									<input type="text" class="textbox" value="菜品名称" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '菜品名称';}">
								</form>
							 </li>	
							<li class="span1_of_1">
								 <!----------start section_room----------->
								 <div class="section_room">
									  <select id="country" onchange="change_country(this.value)" class="frm-field required">
											<option value="null">类别</option>
											<option value="null">饮料</option>
											<option value="AX">小吃</option>
											<option value="AX">主食</option>
									  </select>
								 </div>	
							 </li>				  
							 <li class="span1_of_3">
									<div class="date_btn">
										<form action="resturants.html">
											<input type="submit" value="查找菜品">
										</form>
									</div>
							 </li>
								<div class="clearfix"></div>
						</ul>
					</div>
				</div>	
			</div>
	</div>
	</div>
<!-- banner -->	
<!-- latis -->	
	<div class="latis">
		<div class="container">

		<div class="col-md-4 latis-left" th:each="item:${itemList}">
			<h3 type="text" th:text="${item.getItemname()}"></h3>
			<img th:src="${item.getPicturepath()}" style="display: inline-block; width: 450px; height: 300px;" class="img-responsive" alt="" width="550" height="450">
			<div class="special-info grid_1 simpleCart_shelfItem">
					<p></p>
<!--				<p>Cum sociis natodiculus mus.rhoncus egestas ac sit </p>-->
				<div class="cur">
					<div class="cur-left">
						<div class="item_add"><span class="item_price"><a class="morebtn hvr-rectangle-in" href="#" th:onclick="'javascript:addToCart('+${item.id}+');'">添加到购物车</a></span></div>
					</div>
					<div class="cur-right">
						<div class="item_add"><span class="item_price"><h6 th:text="${item.price}"></h6></span></div>
					</div>
						<div class="clearfix"> </div>
				</div>
			</div>
			<br>
		</div>
<!--		<div class="col-md-4 latis-left">-->
<!--			<h3>至尊披萨</h3>-->
<!--			<img src="img/至尊披萨.jpg" class="img-responsive" alt="" width="550" height="450">-->
<!--			<div class="special-info grid_1 simpleCart_shelfItem">-->
<!--				<p></p>-->
<!--&lt;!&ndash;				<p>Cum sociis natodiculus mus.rhoncus egestas ac sit </p>&ndash;&gt;-->
<!--				<div class="cur">-->
<!--					<div class="cur-left">-->
<!--						<div class="item_add"><span class="item_price"><a class="morebtn hvr-rectangle-in" href="#">添加到购物车</a></span></div>-->
<!--					</div>-->
<!--					<div class="cur-right">-->
<!--						<div class="item_add"><span class="item_price"><h6> 55元</h6></span></div>-->
<!--					</div>-->
<!--						<div class="clearfix"> </div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
<!--		<div class="col-md-4 latis-left">-->
<!--			<h3>柠檬水</h3>-->
<!--			<img src="img/柠檬水.jpg" class="img-responsive" alt="" width="550" height="450">-->
<!--			<div class="special-info grid_1 simpleCart_shelfItem">-->
<!--				<p></p>-->
<!--&lt;!&ndash;				<p>Cum sociis natodiculus mus.rhoncus egestas ac sit </p>&ndash;&gt;-->
<!--				<div class="cur">-->
<!--					<div class="cur-left">-->
<!--						<div class="item_add"><span class="item_price"><a class="morebtn hvr-rectangle-in" href="#">添加到购物车</a></span></div>-->
<!--					</div>-->
<!--					<div class="cur-right">-->
<!--						<div class="item_add"><span class="item_price"><h6>10元</h6></span></div>-->
<!--					</div>-->
<!--						<div class="clearfix"> </div>-->
<!--				</div>-->
<!--			</div>-->
<!--		</div>-->
			<div class="clearfix"> </div>
			
				
	</div>
	</div>
<!-- latis -->	
<!-- feature -->
<!--<div class="feature">-->
<!--		<div class="container">-->
<!--			<div class="fle-xsel">-->
<!--				<ul id="flexiselDemo3">-->
<!--					<li>-->
<!--							-->
<!--									<img src="img/1p.jpg" class="img-responsive" alt="">-->
<!--								-->
<!--					</li>-->
<!--					<li>-->
<!--							-->
<!--									<img src="img/2p.jpg" class="img-responsive" alt="">-->
<!--								-->
<!--					</li>			-->
<!--					<li>-->
<!--							-->
<!--									<img src="img/3p.png" class="img-responsive" alt="">-->
<!--								-->
<!--					</li>		-->
<!--					<li>-->
<!--							-->
<!--									<img src="img/4p.jpg" class="img-responsive" alt="">-->
<!--								-->
<!--									-->
<!--					</li>-->
<!--					<li>-->
<!--							-->
<!--									<img src="img/5p.jpg" class="img-responsive" alt="">-->
<!--								-->
<!--					</li>-->
<!--					<li>-->
<!--							-->
<!--									<img src="img/6p.jpg" class="img-responsive" alt="">-->
<!--								-->
<!--					</li>-->
<!--					<li>-->
<!--							-->
<!--									<img src="img/7p.jpg" class="img-responsive" alt="">-->
<!--								-->
<!--					</li>-->
<!--					<li>-->
<!--							-->
<!--									<img src="img/8p.jpg" class="img-responsive" alt="">-->
<!--								-->
<!--					</li>-->
<!--									-->
<!--				</ul>-->
<!--							-->
<!--							 <script type="text/javascript">-->
<!--								$(window).load(function() {-->
<!--									-->
<!--									$("#flexiselDemo3").flexisel({-->
<!--										visibleItems: 8,-->
<!--										animationSpeed: 1000,-->
<!--										autoPlay: true,-->
<!--										autoPlaySpeed: 3000,    		-->
<!--										pauseOnHover: true,-->
<!--										enableResponsiveBreakpoints: true,-->
<!--										responsiveBreakpoints: { -->
<!--											portrait: { -->
<!--												changePoint:480,-->
<!--												visibleItems: 2-->
<!--											}, -->
<!--											landscape: { -->
<!--												changePoint:640,-->
<!--												visibleItems: 3-->
<!--											},-->
<!--											tablet: { -->
<!--												changePoint:768,-->
<!--												visibleItems: 3-->
<!--											}-->
<!--										}-->
<!--									});-->
<!--									-->
<!--								});-->
<!--								</script>-->
<!--								<script type="text/javascript" src="js/jquery.flexisel.js"></script>-->
<!--					<div class="clearfix"> </div>-->
<!--				-->
<!--			</div>-->
<!--		</div>-->
<!--	</div>-->
<!-- feature -->
<!-- magnust -->	
<!--	<div class="magnust">-->
<!--		<div class="container">-->
<!--			<h3>Nascetur ridiculus mus</h3>-->
<!--		<div class="col-md-4 magnust-top">-->
<!--			-->
<!--			<div class="magnust-left">-->
<!--				<img src="img/9b.jpg" class="img-responsive" alt="">-->
<!--			</div>-->
<!--			<div class="magnust-right">-->
<!--				<h4><a href="#">Cites of the</a></h4>-->
<!--				<p> Lorem Ipsum passage, and going through the cites of the undoubtable source. Lorem sections</p>-->
<!--				<a class="see" href="#">See More</a>-->
<!--			</div>-->
<!--				<div class="clearfix"> </div>-->
<!--		</div>-->
<!--		<div class="col-md-4 magnust-top">-->
<!--			<div class="magnust-left">-->
<!--				<img src="img/8b.jpg" class="img-responsive" alt="">-->
<!--			</div>-->
<!--			<div class="magnust-right">-->
<!--				<h4><a href="#">Lorem Ipsum</a></h4>-->
<!--				<p> Lorem Ipsum passage, and going through the cites of the undoubtable source. Lorem sections</p>-->
<!--				<a class="see" href="#">See More</a>-->
<!--			</div>-->
<!--				<div class="clearfix"> </div>-->
<!--		</div>-->
<!--		<div class="col-md-4 magnust-top">-->
<!--			<div class="magnust-left">-->
<!--				<img src="img/10b.jpg" class="img-responsive" alt="">-->
<!--			</div>-->
<!--			<div class="magnust-right">-->
<!--				<h4><a href="#">Will uncove</a></h4>-->
<!--				<p> Lorem Ipsum passage, and going through the cites of the undoubtable source. Lorem sections</p>-->
<!--				<a class="see" href="#">See More</a>-->
<!--			</div>-->
<!--				<div class="clearfix"> </div>-->
<!--		</div>-->
<!--			<div class="clearfix"> </div>-->
<!--	</div>-->
<!--	</div>-->
<!-- magnust -->	
<!-- footer-->
	<div class="footer">
		<div class="container">
			<div class="footer-left">
				<p>HaiYum Cafe © 2020</p>
			</div>
			<!--			<div class="footer-right">-->
			<!--				<ul>-->
			<!--					<li><a href="#"><i class="fbk"></i></a></li>-->
			<!--					<li><a href="#"><i class="googpl"></i></a></li>-->
			<!--					<li><a href="#"><i class="link"></i></a></li>-->
			<!--					<li><a href="#"><i class="rss"></i></a></li>-->
			<!--					<li><a href="#"><i class="twt"></i></a></li>-->
			<!--				</ul>-->
			<!--			</div>	-->
			<div class="clearfix"></div>
		</div>
	</div>
<script th:inline="javascript">
	// 加入购物车操作
	function addToCart(iid) {
		$.ajax({
			url:"/addToCart"+iid,
			type:"POST",
			contentType: "application/json; charset=utf-8",
			success: function(msg){
				window.location.reload();
			},
			error: function(){
				alert("您尚未登录或您的登录信息已过期，请重新登录!");
			}
		});
	}

	function emptyCart(){
		$.ajax({
			url:"/emptyCart",
			type:"POST",
			contentType: "application/json; charset=utf-8",
			success: function(msg){
				window.location.reload();
			},
			error: function(){
				alert("您尚未登录或您的登录信息已过期，请重新登录!");
			}
		});
	}
</script>
<!-- footer-->	
</body>
</html>