<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>点餐管理系统登录界面</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{webjars/bootstrap/3.3.5/css/bootstrap.min.css}" rel="stylesheet" type="text/css" >
    <!-- Custom styles for this template -->
    <link th:href="@{css/login.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" id = "loginform" th:action="@{/login}" method="post">
    <img class="mb-4" th:src="@{img/coffee.jpg}" alt="" width="120" height="120">
    <h1 class="h3 mb-3 font-weight-normal">请登入</h1>
    <!--判断-->
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>

    <label class="sr-only">用户名</label>
    <input name="username" class="form-control" placeholder="用户名" required="" autofocus="" >
    <br>
    <label class="sr-only">密码</label>
    <input name="password" class="form-control" placeholder="密码" required="" type="password">
    <div class="checkbox mb-3">
        <label class="radio-inline"><input type="radio" name="identify" value="user" >用户</label>
        <label class="radio-inline"><input type="radio" name="identify" value="administrator" checked>管理员</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" data-th-bgcolor="red">登入</button>
    <br>
    <a th:href="@{/regist.html}"> 还没账号？注册 </a>
    <p class="mt-5 mb-3 text-muted">Haiyun Cafe © 2020</p>
    <!--button type="button" class="btn">中文</button>
    <button type="button" class="btn">English</button-->

</form>

</body>

</html>